main {
    margin-top: 105px;
}

#branco, .qual {
  display: none;
}

.ddd {
  margin-right: 20px;
}

/* Setas do input-number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}