main {
    margin-top: 105px;
}

#nomeInput, #email, .telefone, .ddd, #cpf, #nasc, #genero, #qual, #senha, #confirmar-senha {
  border-radius: 20px;
  border: solid 1px #A34DA5;
  box-sizing: border-box;
}

#branco, .qual {
  display: none;
}

.ddd {
  margin-right: 20px;
}

/* Setas do input-number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}