/* Estilos gerais */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0px;
}

.container {
    padding: 70px 0 70px 0;
}

p, li {
    color: #F2F08A;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
    background-color: #A34DA5;
}

.fa-bars{
    color:#F2F08A;
    border: solid 1px #F2F08A;
    border-radius: 5px;
    font-size:28px;
    padding: 5px;
}

#nav-container {
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-brand {
    padding: 0;
    color: #F2F08A;
}

.navbar-brand:hover {
    color: A6A456;
}

#navbar-links a {
    color: #F2F08A;
}

#navbar-links a:hover {
    color: #A6A456;
}
.navbar-expanded-lg .navbar-nav .nav-links {
    padding: 1rem .8rem 1rem .8rem;
}

/* Carrossel */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #F2F08A;
    text-shadow: purple -1px -1px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #F2F08A;
    text-shadow: purple -1px -1px;
}

.main-btn {
    background-color: #46A65F;
    color: #F2F08A;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #A6A456;
    background-color: transparent;
    border-color: #46A65F;
}

.carousel-indicators .active {
    background-color: #46A65F;
}

/* Promoções */

#area-promocao {
    background-color: #f2f08a38;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.promocao-titulo {
    font-size: 17px;
    color: #444;
    font-weight: bold;
    margin: 40px 0 60px 0;
    text-align: center;
}

#lista-marcas {
    list-style: none;
    padding: 0;
}

#lista-marcas li {
    line-height: 30px;
    color: #444;
}

#area-promocao p {
    color: #444;
}

#lista-marcas i {
    color: #46A65F;
    margin-right: 15px;
}

#produtosPromo img {
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
}

#servicoPromo img {
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
}

/* Footer */

footer {
    display: grid;
    background-color: #A34DA5;
    grid-template-rows: auto;
    grid-template-areas: 
    "footer-area"
    "copyright"
}

.footer-area {
    grid-area: "footer-area"
}

#copyright {
    grid-area: "copyright"
}

.footer-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "contato endereco email";
    margin-left: 20px;
    text-align: center;
}

#contato{
    grid-area: "contato"
}

#endereco{
    grid-area: "endereco"
}

#email{
    grid-area: "email"
}

#copyright {
    text-align: center;
    background-color: #333;
}

#copyright a {
    text-decoration: none;
    color: #F2F08A;
    font-weight: bold;
}

#copyright a:hover {
    color: #A34DA5;
}

.contact-box {
    margin-bottom: 30px;
}

.contact-box i {
    color: #222;
    border: solid 1px #222;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-top: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #f8f53a;
}